[paths]
source = src

[run]
branch = true
source =
    src
    # you can add here the test folder
    # though tracking tests coverage might be
    # out of sense and may disturb the percentage reported
    #
    # tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
